@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1690991210799') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e695";
}

.icon-yulanxuanzhuan:before {
  content: "\e626";
}

.icon-mobankuangjia-xianxing:before {
  content: "\e8a5";
}

.icon-yulan:before {
  content: "\e67e";
}

.icon-zidingyibiaodan:before {
  content: "\e66e";
}

.icon-fanchuan:before {
  content: "\e629";
}

.icon-graphical:before {
  content: "\e67b";
}

.icon-wenben:before {
  content: "\eac5";
}

.icon-yunxiazai_o:before {
  content: "\ebb4";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-fanchuan1:before {
  content: "\e612";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-qingkong:before {
  content: "\e946";
}

.icon-wenbenkuang:before {
  content: "\e62a";
}

.icon-fanchuan2:before {
  content: "\e74d";
}

.icon-fanchuan3:before {
  content: "\e691";
}

.icon-fish:before {
  content: "\e64c";
}

.icon-shangyibu:before {
  content: "\e9cd";
}

.icon-xiayibu:before {
  content: "\e9ce";
}

